In [1]:
#import dependencies
import pandas as pd
import numpy as np
from sklearn import linear_model
from sklearn import preprocessing
from sklearn.model_selection import train_test_split
from sklearn import preprocessing
from sklearn.impute import SimpleImputer
from sklearn.metrics import mean_squared_error

In [2]:
#load dataset
dataset = pd.read_csv('housing.csv')
dataset.head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
0,-122.23,37.88,41.0,880.0,129.0,322.0,126.0,8.3252,452600.0,NEAR BAY
1,-122.22,37.86,21.0,7099.0,1106.0,2401.0,1138.0,8.3014,358500.0,NEAR BAY
2,-122.24,37.85,52.0,1467.0,190.0,496.0,177.0,7.2574,352100.0,NEAR BAY
3,-122.25,37.85,52.0,1274.0,235.0,558.0,219.0,5.6431,341300.0,NEAR BAY
4,-122.25,37.85,52.0,1627.0,280.0,565.0,259.0,3.8462,342200.0,NEAR BAY

In [3]:
#check wheather there are any missing values or null
dataset.isnull().sum()

longitude               0
latitude                0
housing_median_age      0
total_rooms             0
total_bedrooms        207
population              0
households              0
median_income           0
median_house_value      0
ocean_proximity         0
dtype: int64

In [4]:
#impute the missing values
total_bedroms = dataset[dataset["total_bedrooms"].notnull()]["total_bedrooms"]#["total_bedrooms"]
imputer = SimpleImputer(np.nan,strategy ="median")
imputer.fit(dataset.iloc[:,4:5])
dataset.iloc[:,4:5] = imputer.transform(dataset.iloc[:,4:5])
dataset.isnull().sum()

longitude             0
latitude              0
housing_median_age    0
total_rooms           0
total_bedrooms        0
population            0
households            0
median_income         0
median_house_value    0
ocean_proximity       0
dtype: int64

In [5]:
# Label encode for categorical feature (ocean_proximity)

labelEncoder = preprocessing.LabelEncoder()
print(dataset["ocean_proximity"].value_counts())
dataset["ocean_proximity"] = labelEncoder.fit_transform(dataset["ocean_proximity"])
dataset["ocean_proximity"].value_counts()
dataset.describe()

<1H OCEAN     9136
INLAND        6551
NEAR OCEAN    2658
NEAR BAY      2290
ISLAND           5
Name: ocean_proximity, dtype: int64

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
count,20640.000000,20640.000000,20640.000000,20640.000000,20640.000000,20640.000000,20640.000000,20640.000000,20640.000000,20640.000000
mean,-119.569704,35.631861,28.639486,2635.763081,536.838857,1425.476744,499.539680,3.870671,206855.816909,1.165843
std,2.003532,2.135952,12.585558,2181.615252,419.391878,1132.462122,382.329753,1.899822,115395.615874,1.420662
min,-124.350000,32.540000,1.000000,2.000000,1.000000,3.000000,1.000000,0.499900,14999.000000,0.000000
25%,-121.800000,33.930000,18.000000,1447.750000,297.000000,787.000000,280.000000,2.563400,119600.000000,0.000000
50%,-118.490000,34.260000,29.000000,2127.000000,435.000000,1166.000000,409.000000,3.534800,179700.000000,1.000000
75%,-118.010000,37.710000,37.000000,3148.000000,643.250000,1725.000000,605.000000,4.743250,264725.000000,1.000000
max,-114.310000,41.950000,52.000000,39320.000000,6445.000000,35682.000000,6082.000000,15.000100,500001.000000,4.000000

In [6]:
#transform data into dataframe
#data = data we want or the indepedent variables also known as x
#feature_names = column names of the data
#target = the target variable or the price of the houses or the dependent variable / y
dataset_x = dataset.drop("median_house_value",axis=1)
#dataset_x.head()
dataset_y = dataset["median_house_value"]
#dataset_y.head()

In [7]:
#Split into training and test set data (80% training & 20%testing)
X_train,X_test,y_train,y_test = train_test_split(dataset_x,dataset_y,test_size=0.2,random_state=42)

In [8]:
#normalzing input daya
X_train = preprocessing.scale(X_train)
X_test = preprocessing.scale(X_test)

In [9]:
#initialize linear regression model
reg = linear_model.LinearRegression()

In [10]:
#training the data with our training data
reg.fit(X_train,y_train)
reg.score(X_train,y_train)
#64% training accuracy

0.6401079709888613

In [11]:
#print the coeffient/weights for each feature/column of our model
print(reg.coef_) #f(x) = y = mx + c #finding m here

[-85854.94724101 -90946.06271148  14924.30655143 -17693.23405277
  48767.60670995 -43884.16852449  17601.31495096  77144.10164179
   -451.52015229]

In [12]:
#the prediction on our test data
y_pred = reg.predict(X_test)
print(y_pred)

[ 65216.38684803 156527.53293932 256036.43954845 ... 445583.32304166
 132891.58951119 177662.64353138]

In [13]:
#Check the performance of the model using mean squared error (MSE) 
print(mean_squared_error(y_test,y_pred))

5070890507.753517